.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#800000, #2F4F4F);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.table-row-cell:selected {
    -fx-background-color:#2F4F4F ;

}
.table-row-cell:selected .text {
    -fx-fill: #ffffff;
}
