.button {
    -fx-text-fill: black;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffffff, #2EC2FC);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
